#chatco {
  position: fixed;
  bottom: -1px;
  right: 10px;
  display: block;
  width: 150px;
  border: 1px solid #B2D9FF;
  box-shadow: 0px 0px 3px 0px #335A7F;
  font-family: "Segoe UI";
  font-size: 13px;
  color: #B2D9FF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#chatco .header {
  background-color: #596C7F;
  padding: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#chatco .chatco .message-box {
  display: block;
  height: 150px;
  margin-bottom: 30px;
  padding-top: 1px;
}
#chatco .chatco .message-box .input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  border-top: 1px solid #335A7F;
}
#chatco .chatco .message-box .input input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 0px;
}
#chatco .chatco .message-box .message {
  color: #335A7F;
  display: block;
  margin: 10px;
  border-bottom: 1px solid #B2D9FF;
}
